@using Microsoft.AspNetCore.Components.Authorization
@inject LostUAL.Web.Auth.AuthService Auth
@inject NavigationManager Nav

<div class="top-row brand-row">
    <a class="brand-link" href="">
        <img src="images/logo-ual.png" class="brand-img" alt="LostUAL" />
    </a>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-1" href="" Match="NavLinkMatch.All">
                <span class="bi bi-stickies" aria-hidden="true"></span> Posts
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
            <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="new-post">
                    <span class="bi bi-pen" aria-hidden="true"></span> 
                    Nuevo post
                </NavLink>
            </div>
            <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="my-posts">
                    <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Mis posts
                </NavLink>
            </div>
            <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="my-claims">
                    <span class="bi bi-send" aria-hidden="true"></span> Mis reclamaciones
                </NavLink>
            </div>
            <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="claims-inbox">
                     <span class="bi bi-mailbox" aria-hidden="true"></span> Reclamaciones recibidas
                </NavLink>
            </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles = "Moderator, Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link d-flex align-items-center gap-1" href="conversation-reports">
                    <span class="bi bi-shield-check" aria-hidden="true"></span> Moderación
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="whoami">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> Mi cuenta
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <a class="nav-link d-flex align-items-center gap-1" href="" @onclick="DoLogout">
                        <span class="bi bi-box-arrow-left" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link d-flex align-items-center gap-1" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        <div class="nav-item px-3">
            <NavLink class="nav-link d-flex align-items-center gap-1" href="about">
                <span class="bi bi-info-circle" aria-hidden="true"></span> Sobre nosotros
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task DoLogout()
    {
        await Auth.LogoutAsync();
        collapseNavMenu = true;  
        Nav.NavigateTo("/");
    }

}
